body {
    font-size: 100%;
	font-family: droid-sans, serif;*/
	/*font-family: DroidSansRegular, serif;*/
	
	
	font-style: normal;
	font-weight: 200;
	line-height: 1.5em;
	color: #393531;
    background: url("../images/body-bkg.gif") repeat scroll 0 0 transparent;
	}

p, #messages {
    margin: 0 0 2.3em;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

h1 {
    font-size: 1.667em;
	margin-bottom: 1em;
}

h2, h3, h4, h5 {
    color: #4A4A4A;
    font-size: 1.667em;
    font-weight: normal;
    line-height: 1.41em;
    margin-bottom: 0.33em;
}

.form-item, .form-actions {
    margin-bottom: 1em;
    margin-top: 1em;
}

/*.logo-img {text-align: center; float: none; margin: 0;}*/

.logo-img {width: 250px;}

.logo-img img {height: auto; width: 60%;}


#section-content a, #section-footer a {
    background: none repeat scroll 0 0 #E9EAE1;
    border-bottom: 1px solid #D5D5CD;
    border-radius: 3px 3px 3px 3px;
    color: #4A4A4A;
    padding: 0 3px;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
    transition: all 0.2s ease 0s;
}

#section-content a:hover, #section-footer a:hover {
    background: #fff;
    border-radius: 3px 3px 3px 3px;
    border-bottom: 1px solid #ADADA5;
    color: #29251F;
    text-decoration: none;
    
}

#section-content .views-field-field-teaser-image a, #section-content .views-field-field-teaser-image a:hover  {
	background: none;
	border-radius: 0;
	border: 0;
	padding: 0;
	
}

a {
    transition: all 0.2s ease 0s;
}

::selection {
	background: #EEEEEE; /* Safari */
	color: #000;
	}
::-moz-selection {
	background: #EEEEEE; /* Firefox */
	color: #000;
}

ol, ul {
  list-style: disc inside none;
	margin: 0 0 2.3em 0em;
}

.portfolio-info {
	list-style: disc outside none;
	margin: 0 0 2.3em 1em;
}

a, input {
outline-color: invert;
outline-style: none;
outline-width: medium;
}

img {
  /*max-width: 100%;*/
  width: 100%;
  height: auto;
}

.form-item input,.form-item textarea {border: 1px solid #fff; border-radius: 0px; padding: 5px; font-family: droid-sans, serif; height: auto; font-size: inherit; width: 100%; max-width: 100%; }
.form-item label {padding-bottom: 5px;}
.form-item input:focus,.form-item textarea:focus {border: 1px solid #fff;}
.form-item textarea {margin-bottom: 0;}

input.form-submit {font-size: inherit; 
height: auto; 
background: #A864A8; 
border-radius: 3px; 
color: #fff;
font-weight: normal; 
text-shadow: none; 
padding: 8px 20px; float: right; margin-right: 0; margin-bottom: 2.3em;
border: none;
transition: background-color 140ms ease 0s;}

input.form-submit:hover {color: #fff; background: #333;}

button:focus, button:active, input:focus, input:active, select:focus, select:active, textarea:focus, textarea:active {
    box-shadow: 0 0 5px #000000;
    z-index: 1;
}

h2.block-title {
    border-bottom: 1px solid #C2C2C2;
    color: #4A4A4A;
    font-size: 110%;
    margin-bottom: 1em;
    padding-bottom: 0.5em;
}

#section-content .block {
    margin: 0 0 2.3em;
    /*padding: 20px;*/
}

#zone-branding-wrapper {
   padding: 20px 0;
   background: #FFFFFF;
   /*margin: 0 0 2.3em;*/
}

#zone-branding-wrapper ul.menu li:last-child {margin: 0;}
#zone-branding-wrapper ul.menu {margin-top: 1em;}
#zone-branding-wrapper ul.menu li {list-style: none; display: block; margin: 0 0 0.5em 0; padding: 0;}
#zone-branding-wrapper ul.menu li a {background: #E9EAE1; padding: 10px; text-align: center; display: block; text-decoration: none; color: #4A4A4A;}
#zone-branding-wrapper ul.menu li a:hover {background: #D5D5CD;}
#zone-branding-wrapper ul.menu li a.active, #zone-branding-wrapper ul.menu li a.active-trail {color: #a864a8;}


#zone-content-wrapper {
   /*padding: 60px 0;*/
   padding: 2.3em 0;
   /*background: #585A5B;*/ /* old gray */
   background: #4A4A4A;   
   margin: 0 0 2.3em;
   color: #FFFFFF;
}

/*body.front #zone-content-wrapper {
	padding: 50px 0px;
	background: none repeat scroll 0 0 #E9EAE1;
	color: #393531;
}*/

body.front #zone-content-wrapper h2 {
    margin: 0;
}

body.front #zone-content-wrapper .field-type-text-with-summary p {
	margin: 0;
}

body.front #zone-content-wrapper .grid-1.alpha {
	text-align: center;
}

body.front #zone-content-wrapper img {
	margin-bottom: 2.3em;
	border-radius: 50%;
	max-width: 300px;
	text-align: center;
}

body.front #region-postscript-third .block {
	margin-bottom: 2.3em;
}

body.front #region-postscript-fourth .block {
	margin-bottom: 0;
}

#region-footer-first {text-align: center;}
#region-footer-second {text-align: center;}

#zone-content-wrapper h2 {
 color: #FFFFFF;
}

#region-sidebar-second .block {background: #fff; padding: 20px; color: #393531;}
#region-sidebar-second h2 {color: #393531;}


ul.flippy li {list-style-type: none; display: inline;}
ul.flippy {padding: 0;}
ul.flippy li.next {float: right;}
ul.flippy li.previous {float: left;}

.field-name-field-portfolio-image img {margin-bottom: 2.3em;}


.skill-box {/*color: #fff;*/ padding: 20px; margin-bottom: 2.3em; background: #fff;}
.skill-box h2 {border-bottom: none; /*color: #fff;*/}

/*.purple {background: #E74C3C;}
.tan {background: #3498DB;}
.green {background: #9B59B6;}
.blue {background: #34495E;}
.yellow {background: #2ECC71;}
.brown {background: #E67E22;}
*/

/* HOMEPAGE PORTFOLIO PAGE */

.view-portfolio ul li {
	background: #fff;
	margin-bottom: 2.3em;
	min-height: auto;
}

.view-portfolio ul li .views-field-title {padding: 20px;}
.view-portfolio ul li .views-field-body {padding: 0 20px 20px 20px;	color: #393531;}


.top-menu img {width: 31px; height: 31px;}

a.top-menu {
  color: #C2C2C2;
    display: block;
    font-size: 30px;
    position: absolute;
    right: 0;
    text-decoration: none;
    top: 4px;
}

a.top-menu.active {
  color: #393531;
}

ul.menu {
display: none;

}


/*font face shit*/

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('BebasNeue-webfont.eot');
    src: url('BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('BebasNeue-webfont.woff') format('woff'),
         url('BebasNeue-webfont.ttf') format('truetype'),
         url('BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DroidSansRegular';
    src: url('DroidSans-webfont.eot');
    src: url('DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('DroidSans-webfont.woff') format('woff'),
         url('DroidSans-webfont.ttf') format('truetype'),
         url('DroidSans-webfont.svg#DroidSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.site-name a {
font: 40px/43px 'BebasNeueRegular',Arial ,sans-serif;
letter-spacing: -1px;
color: #A864A8;
}

.site-name a:hover {
 color: #000;
}

.site-name {
 margin-top: 0;
}


.view-skills ul li {
    background: none repeat scroll 0 0 #FFFFFF;
    margin-bottom: 2.3em;
    min-height: auto;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.02);
	color: #393531;

}

.view-skills ul li .views-field-body {
    /*color: #393531;*/
    padding: 0 20px 10px;
}

.view-skills ul li .views-field-title {
    padding: 20px;
}

#zone-content-wrapper .view-skills h2 {
    font-size: 110%;
/*    margin-bottom: 1em;
    padding-bottom: 0.5em;*/
		color: #393531;
}

.view-skills .views-field-field-character {
background: #E9EAE1;
color: #4A4A4A;
width: 100%;
padding: 44px 0;
text-align: center;
font-size: 200%;
}

.view-skills .views-field-field-character p {
margin: 0;
padding: 0;

}

#homepage-text {
    display: block;
    width: 100%;
}
